<h1>Books by Genre</h1>

<% if @books.length == 0 %>
    <h4>Your library is empty! Click "New Book" to start adding to your library.</h4>

<% else %>
    <% @genres.each do |genre| %>
        <div class="column">
            <a href="/genres/<%= genre.id %>"><h3><%= genre.name %></h3></a>
            <h4>Number of Books: <%= @books.where(genre_id: genre.id).count %></h4>
        </div>
    <% end %>
<% end %>