<h1>New Note for <%= @book.title %> </h1>

<form method="post" action="/notes">
    <input type="hidden" name="id" value="<%= @book.id %>">
    <div>
        <p>
            <label for="content">Note:</label><br>
            <textarea name="content" rows="10" cols="30" id="content"></textarea>
        </p>
    </div>
    <input type="submit" id="submit" value="Add Note"><br>
</form>