.env

# Front end created user information (email: "michael@michael.com", first_name: "Michael", last_name: "Royce", password_digest: "3089")
# Front end created user information (email: "ollie@brandtson.com", first_name: "Oliver", last_name: "Rush", password_digest: "5555")
# Front end created user information (email: "patrick@rush.com", first_name: "Patrick", last_name: "Rush", password_digest: "7874")
