/* 
Choose a font 
Add padding to header 
Adjust background image size with @media for fullscreen desktop 
padding around the forms
wrap books in a box 
display flex <- try
*/

@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  
  body {
    background-image: url("https://images.unsplash.com/photo-1535350356005-fd52b3b524fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ebebeb;
    color: #747474;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
  }

  .wrapper {
    background: #e4e4e4cc;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  .notes {
    /* margin-top: 100px; */
    background: #e4d4d4cc;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 50px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  h1 {
    color: #FCA311;
    font-size: 36px;
    font-weight: bold;
    line-height: 54px;
    font-family: 'Montserrat', sans-serif;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    color: #747474;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
    /* font-family: 'Montserrat', sans-serif; */
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    color: #747474;
    margin-bottom: 18px;
  }

  a {
    color: #5c8ba8;
    transition-duration: 0.4s;
  }

  a:hover {
    color: #011638
  }

  textarea {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-indent: 5px;
  }

  input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-indent: 2px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    /* margin-top: 20px; */
    /* padding-top: 20px; */
  }

  div.date {
    border-top: 2px solid #ccc;
    padding-top: 10px;
  }

  div.photo_credit {
    float: right
  }

  .push {
    height: 40px;
  }

  .column {
    vertical-align: top;
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  #submit {
    background-color: #747474;
    border: none;
    color: #ebebeb;
    padding: 10px 24px;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    border-radius: 2px;
    font-size: 16px;
    transition-duration: 0.4s;
    float: left;
  }

  #submit:hover {
    background-color: #5c8ba8;
    color: #ebebeb;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.24), 0 0 10px 0 rgba(0,0,0,0.19);
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }

  .column {
    width: 100%;
  }
}
