<h1>Login</h1>

<form method="post" action="/login">
    <div>
        <p>
            <label for="email">Email:</label>
            <input name="email" id="email"><br>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"><br>
        </p>
    </div>
    <input type="submit" id="submit" value="Login"><br>

</form>