<h1>Create your account:</h1>

<form method="post" action="/users">
    <div>
        <label for="first_name">First Name:</label>
        <input name="first_name" id="first_name"><br>
        <label for="last_name">Last Name:</label>
        <input name="last_name" id="last_name"><br>
        <label for="email">Email:</label>
        <input name="email" id="email"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"><br>
    </div>
    <input type="submit" id="submit" value="Submit">
</form>