<h1> <%= @user.first_name %>'s Library</h1>

<% @books.each do |book| %>
    <div>
        <a href="/books/<%= book.id %>"><h3>Title: <%= book.title %></h3><br></a>
        <h4>Author: <%= book.author %></h4><br>
    </div><br>
<% end %>