<h1>Add a book to your library!</h1>

<form method="post" action="/books">
    <div>
        <label for="title">Title:</label>
        <input name="title" id="title"><br>
        <label for="author">Author:</label>
        <input name="author" id="author"><br>
    </div>
    <input type="submit" id="submit" value="Add Book">
</form>