<h1>Add a Book</h1>

<form method="post" action="/books">
    <div>
        <p>
            <label for="title">Title:</label><br>
            <input name="title" id="title">
        </p>
        <p>
            <label for="author">Author:</label><br>
            <input name="author" id="author">
        </p>
        <p>
            <label for="status">Status:</label><br>
            <input type="radio" name="status" value="Unread">
            <label for="unread">Unread</label>
            <input type="radio" name="status" value="Reading">
            <label for="reading">Reading</label>
            <input type="radio" name="status" value="Read">
            <label for="read">Read</label>
            <input type="radio" name="status" value="">
            <label for="other">Other</label>
        </p>
        <p>
            <label for="genre_id">Genre:</label>
            <select id="genre_id" name="genre_id">
                <option value="">Select</option>
                <% @genres.each do |genre| %>
                    <option value="<%= genre.id %>"><%= genre.name %></option>
                <% end %>
            </select>
        </p>
    </div>
    <input type="submit" id="submit" value="Add Book"><br>
</form>