<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Home Library</h1>

    <% if logged_in?(session) %>
      <div class="content">
        <p>Welcome to the library of <%= @user.first_name + " " + @user.last_name %>! This library currently contains <%= @books.length %> books.</p>
      </div>
    <% else %>
      <div class="content">
        <p>Welcome! Log in or create an account above to get started!
      </div>
    <% end %>

  </div>
</div>
